.header {
    width: 100%;
    background-color: var(--color-almost-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    position: sticky;
    top: 0;
}

@media (max-width:60rem) {
    .header {
        padding: 1.8rem 0;
    }
}