.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navElements {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

a:hover {
    color: var(--color-light-vermillion);
}

.icon-menu {
    display: none;
}

@media(max-width: 60rem) {

    .navElements {
        display: none; 
        flex-direction: column;
        gap: 3rem;
        position: fixed;
        top: 0;
        right: 0;
        padding-left: 2.4rem;
        background-color: white;
        width: 25.6rem;
        height: 100vh;
        justify-content: center;
        z-index: 1;
    }

    .icon-menu {
        display: inline-block; /* Show icon-menu on smaller screens */
        position: sticky;
        top: 9rem;
        right: 1.8rem;
        z-index: 2;
    }
}

@media(min-width: 60rem) {
    .navElements {
        display: flex !important; 
    }
}
