.side-section {
    height: 100%;
    background-color: var(--color-dark-space-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.4rem;
    gap: 3rem;

    .new-content__main-header {
        color: var(--color-yellow);
        font-size: 4rem;
        font-weight: bold;
    }

    .new-content__articles {
        min-height: 37.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .new-content__article {

            .new-content__article-header {
                color: var(--color-almost-white);
            }
            .new-content__article-header:hover{
                color: var(--color-light-vermillion);
            }
        }
    }
}