@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    --color-gunmetal: #5E607A; /* Primary text color */
    --color-light-vermillion: #F15D51;
    --color-dark-space-blue: #00001A;
    --color-yellow : #E9AA52;
    --color-almost-white : #FFFDFA;
    --color-silver: #C5C6CE;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 2.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: var(--color-gunmetal);
    background-color: var(--color-almost-white);
}

a {
    text-decoration: none;
    color: inherit;
}
