.footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    justify-content: space-between;
    gap: 3rem;
    margin-top: 4rem;

    .footer-article {
        display: flex;
        gap: 2.4rem;

        .footer-article__image {
            width: 10rem;
        }

        .footer-article__text{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .serial-number {
                color: var(--color-silver);
                font-size: 3.2rem;
                font-weight: bold;
            }

            .article-header:hover {
                color: var(--color-light-vermillion);
                cursor: pointer;
            }
        }
    }

}